@charset "UTF-8";

/* Paleta de Cores
Verde - #19FA90
Roxo - #B61BFA
Lilás - #8323AD
Amarelo - #FAB425

#B3F500
#AC01F5
#7BA800
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #8323AD;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 520px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);

    transform: translate(-50%, -50%);
    transition: width .3s, heigth .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #8323AD url(../imagens/metal.jpg) no-repeat;
    background-size: cover;
    background-position: right bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #8323AD;
    border: 2px solid #8323AD;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 6px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    margin-top: 3px;
    padding: 5px;
    background-image: linear-gradient(to top, #19FA90, #B61BFA);
    color: #8323AD;
    border-radius: 100%;
    width: 36px;

}

div.campo > input {
    background-color: #19FA90;
    font-size: 0.7em;
    width: calc(100% - 41px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 2px;
    transform: translateY(-9px);
}

div.campo > input:focus-within {
    background-color: #bdf8dc;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(to left, #19FA90, #B61BFA);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-image: linear-gradient(to right, #19FA90, #B61BFA);
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40%;
    text-decoration: none;
    margin-top: 10px;
    padding-top: 5px;
}

form > a.botao:hover {
    text-decoration: underline;
}

form > a.botao > span {
    font-size: 1em;
}